html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #000000;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 13px;
  background: #26476E url(back1.jpg);
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}
